#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };

    macros {
        // Danish characters using Unicode sequences
        ae_macro: ae_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(Z)>;  // AltGr+Z for æ
        };
        
        oe_macro: oe_macro {
            compatible = "zmk,behavior-macro"; 
            #binding-cells = <0>;
            bindings = <&kp RA(L)>;  // AltGr+L for ø
        };
        
        aa_macro: aa_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>; 
            bindings = <&kp RA(W)>;  // AltGr+W for å
        };
        
        euro_macro: euro_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(E)>;  // AltGr+E for €
        };
        
        pound_macro: pound_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(N3)>; // AltGr+3 for £
        };

        // Danish keyboard specific brackets and symbols
        kp_dk_LBKT: kp_dk_LBKT { // this is a macro for writting "[" on danish keyboards.
            label = "kp_dk_LBKT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp N8>
                , <&macro_release &kp RALT>
                ;
        };
        
        kp_dk_RBKT: kp_dk_RBKT { // this is a macro for writting "]" on danish keyboards.
            label = "kp_dk_RBKT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp N9>
                , <&macro_release &kp RALT>
                ;
        };
        
        kp_dk_LBRC: kp_dk_LBRC { // this is a macro for writting "{" on danish keyboards.
            label = "kp_dk_LBRC";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp N7>
                , <&macro_release &kp RALT>
                ;
        };
        
        kp_dk_RBRC: kp_dk_RBRC { // this is a macro for writting "}" on danish keyboards.
            label = "kp_dk_RBRC";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp N0>
                , <&macro_release &kp RALT>
                ;
        };
        
        kp_dk_BLSH: kp_dk_BLSH { // this is a macro for writting "\" on danish keyboards.
            label = "kp_dk_BLSH";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp NON_US_BACKSLASH>
                , <&macro_release &kp RALT>
                ;
        };
        
        kp_dk_PIPE: kp_dk_PIPE { // this is a macro for writting "|" on danish keyboards.
            label = "kp_dk_PIPE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &kp EQUAL>
                , <&macro_release &kp RALT>
                ;
        };
        
        kp_dk_UNDER: kp_dk_UNDER { // this is a macro for writting "_" on danish keyboards.
            label = "kp_dk_UNDER";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHIFT>
                , <&macro_tap &kp FSLH>
                , <&macro_release &kp LSHIFT>
                ;
        };

        // System shortcuts
        copy: copy { // this is a macro for copying
            label = "copy";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp C>
                , <&macro_release &kp LCTRL>
                ;
        };
        
        dk_paste: dk_paste { // this is a macro for pasting
            label = "dk_paste";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp V>
                , <&macro_release &kp LCTRL>
                ;
        };
        
        del_word: del_word { // this is a macro for utilising the delete word functionality on windows
            label = "del_word";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp BACKSPACE>
                , <&macro_release &kp LCTRL>
                ;
        };

        // macOS/Windows navigation shortcuts
        mod_left: mod_left { // this is a macro for window management left
            label = "mod_left";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp LEFT>
                , <&macro_release &kp LGUI>
                ;
        };
        
        mod_up: mod_up { // this is a macro for window management up
            label = "mod_up";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp UP>
                , <&macro_release &kp LGUI>
                ;
        };
        
        mod_right: mod_right { // this is a macro for window management right
            label = "mod_right";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp RIGHT>
                , <&macro_release &kp LGUI>
                ;
        };
        
        mod_down: mod_down { // this is a macro for window management down
            label = "mod_down";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp DOWN>
                , <&macro_release &kp LGUI>
                ;
        };
    };

    behaviors {
        // E as navigation layer when held
        nav_e: nav_e {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            bindings = <&mo>, <&kp>;
            // All 42 physical key positions may trigger a hold
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41>;
            hold-trigger-on-release;
        };

        // One-shot Shift in the thumb cluster
        os_shift: os_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "balanced";    
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41>;
            hold-trigger-on-release;
        };

        // Home row layer-tap behaviors
        lt_fun: lt_fun {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41>;
        };

        lt_nav: lt_nav {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41>;
        };

        lt_sym: lt_sym {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41>;
        };

        lt_num: lt_num {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41>;
        };

        // MEH + Space behavior
        meh_spc: meh_spc {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41>;
        };

        // Volume up/down mod-morph: vol+ normally, vol- with shift
        vol_updown: vol_updown {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp C_VOLUME_UP>, <&kp C_VOLUME_DOWN>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // =====================================================================
        default_layer {
            display-name = "Base";

            // Core 36 keys = columns 2-6 on each half (marked with *)
            // Outer columns 1 and 12 = nice-to-have only (marked with !)
            // Aptmak Blue layout optimized for multilingual typing
            // ------------------------------------------------------------------------------------------------------------
            //                       Left Hand (6)                                 Right Hand (6)
            // Top:   ! ESC ! * Q * * J * * U * *  L * *  ; *     * B * * P * * F * * W * * X * !V+/V-!
            //        ---------------------------------------     -----------------------------------------------
            // Middle:! TAB ! *FUN_A*NAV_O*SYM_I*NUM_N*  Y *     * K *NUM_H*SYM_T*NAV_S*FUN_R* ! RET !
            //        ---------------------------------------     -----------------------------------------------
            // Bottom:! GRV ! * Z * *CTL_.*ALT_,*GUI_M*  V *     * D *GUI_G*ALT_C*CTL_/* * ' * ! Play!
            //        ---------------------------------------     -----------------------------------------------
            // Thumb:                    * GUI * *  E  * * SHF *   *CTRL* *MEH_SPC* *BSPC*
            //                           ------------------------------------
            // Note: E moved to left thumb as recommended by Aptmak Blue design
            // ------------------------------------------------------------------------------------------------------------

            bindings = <
                /* --------------------------- TOP ROW --------------------------- */
                &kp ESCAPE       &kp Q           &kp J           &kp U            &kp L             &kp SEMICOLON
                &kp B            &kp P           &kp F           &kp W            &kp X             &vol_updown

                /* -------------------------- MIDDLE ROW ------------------------ */
                &kp TAB          &lt_fun 4 A     &lt_nav 3 O     &lt_sym 2 I      &lt_num 1 N       &kp Y
                &kp K            &lt_num 1 H     &lt_sym 2 T     &lt_nav 3 S      &lt_fun 4 R       &kp RET

                /* -------------------------- BOTTOM ROW ------------------------ */
                &kp GRAVE        &kp Z           &mt LCTRL PERIOD &mt LALT COMMA  &mt LGUI M        &kp V
                &kp D            &mt RGUI G      &mt RALT C      &mt RCTRL SLASH &kp SINGLE_QUOTE  &kp C_PLAY_PAUSE

                /* -------------------------- THUMB ROW ------------------------- */
                &kp LGUI         &kp E                           &kp LSHFT
                &kp LCTRL        &meh_spc LC(LA(LSHFT)) SPACE    &kp BSPC          
            >;
        };

        // =====================================================================
        number_layer {
            display-name = "Number";

            // Core 36: Numbers 1-0, F-keys optimized for ergonomics and flow
            // ------------------------------------------------------------------------------------------------------------
            //                       Left Hand                                       Right Hand
            // Top:    ! TAB ! *  1 * *  2 * *  3 * *  4 * *  5 *     *  6 * *  7 * *  8 * *  9 * *  0 * !BSPC!
            //         -----------------------------------------------     -----------------------------------------------
            // Middle: !     ! *  + * *  - * *  / * *  * * *  F6*     * F7 * *  ( * *  ) * *  [ * *  ] * !     !
            //         -----------------------------------------------     -----------------------------------------------
            // Bottom: ! BT0 ! *  F1* *  F2* *  F3* *  F4* *  F5*     *  F8* *  F9* * F10* * F11* * F12* !BTCLR!
            //         -----------------------------------------------     -----------------------------------------------
            // Thumb:                    * GUI * *  E  * * SHF *   *CTRL* *MEH_SPC* *BSPC*
            // ------------------------------------------------------------------------------------------------------------

            bindings = <
                /* TOP */
                &kp TAB          &kp N1  &kp N2  &kp N3  &kp N4  &kp N5   &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &kp BSPC
                /* MID */
                &trans           &kp PLUS &kp MINUS &kp SLASH &kp ASTRK &kp F6   &kp F7  &kp LPAR &kp RPAR &kp LBKT &kp RBKT &trans
                /* BOT */
                &bt BT_SEL 0     &kp F1  &kp F2  &kp F3  &kp F4  &kp F5   &kp F8  &kp F9  &kp F10 &kp F11 &kp F12 &bt BT_CLR
                /* THM */
                &trans           &trans                          &trans
                &trans           &trans                          &trans
            >;
        };

        // =====================================================================
        symbol_layer {
            display-name = "Symbol";

            // Core 36: Braces on home row, brackets in consistent positions with number layer
            // ------------------------------------------------------------------------------------------------------------
            //                       Left Hand                                       Right Hand
            // Top:    ! TAB ! *  ! * *  @ * *  # * *  $ * *  % *     *  ^ * *  & * *  * * *  _ * *  ~ * !BSPC!
            //         -----------------------------------------------     -----------------------------------------------
            // Middle: !     ! *  Æ * *  Ø * *  Å * *  € * *  £ *     * = * *  ( * *  ) * *  [ * *  ] * !     !
            //         -----------------------------------------------     -----------------------------------------------
            // Bottom: !     ! *  ` * *  | * *  \ * *  + * *  < *     *  > * *  { * *  } * *  ? * *  / * !     !
            //         -----------------------------------------------     -----------------------------------------------
            // Thumb:                    * GUI * *  E  * * SHF *   *CTRL* *MEH_SPC* *BSPC*
            // ------------------------------------------------------------------------------------------------------------

            bindings = <
                /* TOP */
                &kp TAB          &kp EXCL &kp AT  &kp HASH &kp DLLR &kp PRCNT &kp CARET &kp AMPS &kp ASTRK &kp UNDER &kp TILDE &kp BSPC
                /* MID */
                &trans           &ae_macro &oe_macro &aa_macro &euro_macro &pound_macro &kp EQUAL &kp LPAR &kp RPAR &kp_dk_LBKT &kp_dk_RBKT &trans
                /* BOT */
                &trans           &kp GRAVE &kp_dk_PIPE &kp_dk_BLSH &kp PLUS &kp LT &kp GT &kp_dk_LBRC &kp_dk_RBRC &kp QMARK &kp SLASH &trans
                /* THM */
                &trans           &trans                          &trans
                &trans           &trans                          &trans
            >;
        };

        // =====================================================================
        navigation_layer {
            display-name = "Navigation";

            // Navigation + Mouse layer: Arrow keys, mouse movement, clicking, scrolling
            // Clean design without redundant modifiers (available on thumbs/bottom row)
            // ------------------------------------------------------------------------------------------------------------
            //                       Left Hand                                       Right Hand
            // Top:    !REDO! * UNDO* * CUT * *COPY * *PAST* * APP*     *PGUP* *HOME* * END * * PGDN * *WDEL* !     !
            //         -----------------------------------------------     -----------------------------------------------
            // Middle: !     ! *MS↑* *MS←* *MS↓* *MS→* * TAB*     * INS* *LEFT* * UP * *DOWN* *RGHT* !     !
            //         -----------------------------------------------     -----------------------------------------------
            // Bottom: ! BRW-! *LCK* *RCK* *MCK* *SCL↑**SCL↓*     *CAPS* *WD←* * DEL* * WD→* * END* ! BRW+!
            //         -----------------------------------------------     -----------------------------------------------  
            // Thumb:                    * GUI * *  E  * * SHF *   *CTRL* *MEH_SPC* *BSPC*
            // ------------------------------------------------------------------------------------------------------------

            bindings = <
                /* TOP */
                &kp K_REDO       &kp K_UNDO &kp K_CUT &copy &dk_paste &kp K_APP   &kp PG_UP &kp HOME &kp END &kp PG_DN &kp &del_word &trans
                /* MID */
                &trans           &mkp MOVE_LEFT &mkp MOVE_DOWN &mkp MOVE_UP &mkp MOVE_RIGHT &kp TAB   &kp INS &kp LEFT &kp UP &kp DOWN &kp RIGHT &trans
                /* BOT */
                &kp K_BACK       &mkp LCLK &mkp RCLK &mkp MCLK &msc SCRL_UP &msc SCRL_DOWN   &kp CAPS &kp LC(LEFT) &kp DEL &kp LC(RIGHT) &kp END &kp K_FORWARD
                /* THM */
                &trans           &trans                          &trans
                &trans           &trans                          &trans
            >;
        };

        // =====================================================================
        function_layer {
            display-name = "Function";

            // System controls: Bluetooth, RGB, Media, Brightness
            // RGBT = Toggle
            // RGBI = Brightness +
            // RGBD = Brightness -
            // RGBH = Hue Increase: cycles through different colors
            // RGBH = Saturation increase: makes colors more intense
            // ------------------------------------------------------------------------------------------------------------
            //                       Left Hand                                       Right Hand
            // Top:    !RESET! * BT0* * BT1* * BT2* * BT3* * BT4*     *RGBT* *RGBI* *RGBD* *RGBH* *RGBS* !BOOT !
            //         -----------------------------------------------     -----------------------------------------------
            // Middle: !     ! *BR- * *BR+ * *    * *    * *    *     * V- * * V+ * *PLAY* *PREV* *NEXT* !     !
            //         -----------------------------------------------     -----------------------------------------------
            // Bottom: !     ! *UNLK* *    * *    * *    * *    *     *    * *    * *MUTE* *    * *    * !     !
            //         -----------------------------------------------     -----------------------------------------------
            // Thumb:                           * GUI * *  E  * * SHF *   *CTRL* *MEH_SPC* *BSPC*
            // ------------------------------------------------------------------------------------------------------------

            bindings = <
                /* TOP */
                &sys_reset       &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
                                   &rgb_ug RGB_TOG &rgb_ug RGB_BRI &rgb_ug RGB_BRD &rgb_ug RGB_HUI &rgb_ug RGB_SAI &bootloader
                /* MID */
                &trans           &kp C_BRI_DN &kp C_BRI_UP &trans &trans &trans   &kp C_VOL_DN &kp C_VOL_UP &kp C_PP &kp C_PREV &kp C_NEXT &trans
                /* BOT */
                &trans           &studio_unlock &trans &trans &trans &trans   &trans &trans &kp C_MUTE &trans &trans &trans
                /* THM */
                &trans           &trans                          &trans
                &trans           &trans                          &trans
            >;
        };
    };
}; 